html {
  font-family: Arial, Helvetica, sans-serif; 
  display: inline-block; 
  text-align: center;
}

h1 {
  font-size: 1.8rem; 
  color: white;
}

p { 
  font-size: 1.4rem;
}

.highcharts-figure {
  height: 140px;
  margin-left: 2px;
  margin-right: 2px;
  display: grid;
}

@media (max-width:530px)  {
  .highcharts-figure {
    height: 110px;
  }
  .highcharts-axis-title {
    font-size: 1em;
  }
}

.chart-container {
  height: 100%;
  width: 100%;
}

.topnav { 
  overflow: hidden; 
  background-color: #0A1128;
}

.footer {
  padding: 20px;
}

body {  
  margin: 0;
}

.card-grid { 
  max-width: 800px; 
  margin: 0 auto; 
  display: grid;
  grid-gap: 2rem; 
  grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
}

.card { 
  background-color: white; 
  box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
}

.card-title { 
  font-size: 1.2rem;
  font-weight: bold;
  color: #034078;
  margin-top: 10px;
  margin-bottom: 10px;
}

select {
  font-size: 16px;
}

.my-error-class {
  background-color:#ffa0a0;  /* red */
}

input[type=submit], button {
  border: none;
  color: #FEFCFB;
  background-color: #034078;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  margin-bottom: 10px;
  border-radius: 4px;
  transition-duration: 0.4s;
}

#btnReset {
  background-color: lightgray;
  color: black;
}

#btnReset:hover {
  background-color: darkgray;
}

#btnStandby {
  background-color: pink;
  color: black;
}

#btnTare {
  background-color: #fbb51c;
  color: black;
}

#btnTare:hover {
  background-color: #fccd68;
}

#btnStandby:hover {
  background-color: lightcoral;
}

input[type=submit]:hover {
  background-color: #1282A2;
}

.inputTable {
  display: table;
  margin: auto;
}

.inputTableElement {
  display: table-cell;
}

input[type=text], input[type=password], input[type=number], select {
  padding: 12px 12px;
  margin: 18px;
  font-size: 16px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number] {
  width: 100px;
}

input[type=text], input[type=password] {
  width: 50%;
}

input[type=number].no-spinner::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}

label {
  font-size: 1.2rem; 
}

#state {
  font-size: 1.2rem;
  color: #1282A2;
  margin-bottom: 10px;
}
